{% extends "layout.html" %}

{% block body %}

<h4> Add a Route </h4>
<form method="POST" action="{{url_for('climberRoutes')}}">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col">{{ form.route_name(class_="form-control input-btn", placeholder="Name")}}</div>
        <div class="col">{{ form.location(class_="form-control input-btn", placeholder="Location")}}</div>
        <div class="col">{{ form.route_type(rows = 9, multiple=False, class_="selectpicker", title="Select Type",
            single="True", placeholder="Type")}}</div>
        <div class="col">{{ form.holds(rows = 9, multiple=True, class_="selectpicker", title="Select Holds",
            placeholder="Holds")}}</div>
        <div class="col">{{ form.actual_difficulty(class_="form-control input-btn", placeholder="Actual Rating")}}</div>
        <div class="col">{{ form.felt_difficulty(class_="form-control input-btn", placeholder="Felt Rating")}}</div>
        <input type="submit" class="form-control input-btn col" value="Save">
    </div>
</form>

<br>

<h4> Your Routes </h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Holds</th>
            <th scope="col">Actual Difficulty</th>
            <th scope="col">Felt Difficulty</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for route in current_user.get_routes() %}
        <tr>
            <th scope="row">{{route.get_name()}}</th>
            <td>{{route.get_location()}}</td>
            <td>{{route.__class__.__name__}}</td>
            <td> {% for hold in route.get_holds().return_holds() %} {{ hold }} {% endfor %}</td>
            <td>{{route.get_actual_difficulty()}}</td>
            <td>{{route.get_felt_difficulty()}}</td>
            <td>
                <form method="POST" action="{{url_for('climberRoutes')}}">
                    <input type="submit" class="form-control input-btn col" name="{{ 'Delete', route.get_name() }}", value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}